@use "./branding.scss" as *;
@use "./fonts.scss" as *;

// Base Styles
body {
    @extend .font-roboto;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: $color-grey;

    ::selection {
        background-color: $color-black;
        color: $color-white;
      }

    a {
        text-decoration: none;
        color: inherit;
    }
    
    h1,h2,h3,h4,h5,h6 {
        color: $color-black;
        line-height: 1.2;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    .fold-default {

        .wrapper {
            max-width: 1216px;
            margin: 0 auto;
            padding: 20px 0;   

            &.lg {
                max-width: 1400px;
            }

            &.padding-bottom {
                padding-bottom: 120px;
            }
        }
    }

}

