$color-title: #323544;
$color-typography: #5f5f5f;

// Brand Color Vars
$color-black: #323544;
$color-grey: #5f5f5f;
$color-grey-light: #eeeeee;
$color-grey-blue: #7A96A3;
$color-yellow: #E0FF00;
$color-white: #fff;
$color-border:#e1e1e1;
$color-error: #dc3232;
$color-success: #46b450;

// Brand Variables
$border-radius: 10px;