// 1. Variables for breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1400px;


@mixin media-sm {
    @media (min-width: #{$breakpoint-sm}) {
      @content;
    }
}
  
@mixin media-md {
    @media (min-width: #{$breakpoint-md}) {
      @content;
    }
}
  

@mixin media-lg {
    @media (min-width: #{$breakpoint-lg}) {
        @content;
    }
}

@mixin media-max-sm {
    @media (max-width: #{$breakpoint-sm}) {
      @content;
    }
}
  
@mixin media-max-md {
    @media (max-width: #{$breakpoint-md}) {
      @content;
    }
}
  

@mixin media-max-lg {
    @media (max-width: #{$breakpoint-lg}) {
        @content;
    }
}