@use "../theme/branding.scss" as *;

// Contact Page
.contact-page {
    .fold-default {
      .wrapper {
        .contact-card {
          background-color: $color-grey-light;
          border-radius: $border-radius;
          display: flex;
          padding: 120px 96px;
  
          .content-wrap {
            margin-right: auto;
  
            h1 {
              margin-bottom: 32px;
            }
  
            p {
              margin-bottom: 14px;
            }
  
            strong { color: $color-black; }
          }
        }
      }
    }
  }