/*
!.gitignore
!wp-content/
 
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 

wp-content/plugins/*
!wp-content/plugins/ecabs-testimonials-plugin/

wp-content/plugins/ecabs-testimonials-plugin/css/
wp-content/plugins/ecabs-testimonials-plugin/js/

wp-content/themes/*
!wp-content/themes/ecabs-theme/

wp-content/themes/ecabs-theme/css/
wp-content/themes/ecabs-theme/js/

conf/

node_modules/