/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* Uncomment and set these variables to customize the grid. */

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  
  .row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
  }
  
  .row.reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }
  
  .col.reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }
  
  .col-xs,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  
  .col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  
  .col-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  
  .col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  
  .col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  
  .col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  
  .col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  
  .col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  .col-xs-offset-1 {
    margin-left: 8.333%;
  }
  
  .col-xs-offset-2 {
    margin-left: 16.667%;
  }
  
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  
  .col-xs-offset-4 {
    margin-left: 33.333%;
  }
  
  .col-xs-offset-5 {
    margin-left: 41.667%;
  }
  
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  
  .col-xs-offset-7 {
    margin-left: 58.333%;
  }
  
  .col-xs-offset-8 {
    margin-left: 66.667%;
  }
  
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  
  .col-xs-offset-10 {
    margin-left: 83.333%;
  }
  
  .col-xs-offset-11 {
    margin-left: 91.667%;
  }
  
  .start-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  
  .center-xs {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  
  .end-xs {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  
  .top-xs {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  
  .middle-xs {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .bottom-xs {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  
  .around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  .between-xs {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  .first-xs {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  
  .last-xs {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  
  @media only screen and (min-width: 48em) {
    .container {
      width: 46rem;
    }
  
    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      box-sizing: border-box;
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .col-sm {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
    }
  
    .col-sm-1 {
      -ms-flex-preferred-size: 8.333%;
      flex-basis: 8.333%;
      max-width: 8.333%;
    }
  
    .col-sm-2 {
      -ms-flex-preferred-size: 16.667%;
      flex-basis: 16.667%;
      max-width: 16.667%;
    }
  
    .col-sm-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }
  
    .col-sm-4 {
      -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
      max-width: 33.333%;
    }
  
    .col-sm-5 {
      -ms-flex-preferred-size: 41.667%;
      flex-basis: 41.667%;
      max-width: 41.667%;
    }
  
    .col-sm-6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col-sm-7 {
      -ms-flex-preferred-size: 58.333%;
      flex-basis: 58.333%;
      max-width: 58.333%;
    }
  
    .col-sm-8 {
      -ms-flex-preferred-size: 66.667%;
      flex-basis: 66.667%;
      max-width: 66.667%;
    }
  
    .col-sm-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }
  
    .col-sm-10 {
      -ms-flex-preferred-size: 83.333%;
      flex-basis: 83.333%;
      max-width: 83.333%;
    }
  
    .col-sm-11 {
      -ms-flex-preferred-size: 91.667%;
      flex-basis: 91.667%;
      max-width: 91.667%;
    }
  
    .col-sm-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .col-sm-offset-1 {
      margin-left: 8.333%;
    }
  
    .col-sm-offset-2 {
      margin-left: 16.667%;
    }
  
    .col-sm-offset-3 {
      margin-left: 25%;
    }
  
    .col-sm-offset-4 {
      margin-left: 33.333%;
    }
  
    .col-sm-offset-5 {
      margin-left: 41.667%;
    }
  
    .col-sm-offset-6 {
      margin-left: 50%;
    }
  
    .col-sm-offset-7 {
      margin-left: 58.333%;
    }
  
    .col-sm-offset-8 {
      margin-left: 66.667%;
    }
  
    .col-sm-offset-9 {
      margin-left: 75%;
    }
  
    .col-sm-offset-10 {
      margin-left: 83.333%;
    }
  
    .col-sm-offset-11 {
      margin-left: 91.667%;
    }
  
    .start-sm {
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
  
    .center-sm {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
    }
  
    .end-sm {
      -ms-flex-pack: end;
      -webkit-box-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
  
    .top-sm {
      -ms-flex-align: start;
      -webkit-box-align: start;
      align-items: flex-start;
    }
  
    .middle-sm {
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
    }
  
    .bottom-sm {
      -ms-flex-align: end;
      -webkit-box-align: end;
      align-items: flex-end;
    }
  
    .around-sm {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  
    .between-sm {
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  
    .first-sm {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
  
    .last-sm {
      -ms-flex-order: 1;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }
  }
  
  @media only screen and (min-width: 62em) {
    .container {
      width: 61rem;
    }
  
    .col-md,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
      box-sizing: border-box;
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .col-md {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
    }
  
    .col-md-1 {
      -ms-flex-preferred-size: 8.333%;
      flex-basis: 8.333%;
      max-width: 8.333%;
    }
  
    .col-md-2 {
      -ms-flex-preferred-size: 16.667%;
      flex-basis: 16.667%;
      max-width: 16.667%;
    }
  
    .col-md-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }
  
    .col-md-4 {
      -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
      max-width: 33.333%;
    }
  
    .col-md-5 {
      -ms-flex-preferred-size: 41.667%;
      flex-basis: 41.667%;
      max-width: 41.667%;
    }
  
    .col-md-6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col-md-7 {
      -ms-flex-preferred-size: 58.333%;
      flex-basis: 58.333%;
      max-width: 58.333%;
    }
  
    .col-md-8 {
      -ms-flex-preferred-size: 66.667%;
      flex-basis: 66.667%;
      max-width: 66.667%;
    }
  
    .col-md-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }
  
    .col-md-10 {
      -ms-flex-preferred-size: 83.333%;
      flex-basis: 83.333%;
      max-width: 83.333%;
    }
  
    .col-md-11 {
      -ms-flex-preferred-size: 91.667%;
      flex-basis: 91.667%;
      max-width: 91.667%;
    }
  
    .col-md-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .col-md-offset-1 {
      margin-left: 8.333%;
    }
  
    .col-md-offset-2 {
      margin-left: 16.667%;
    }
  
    .col-md-offset-3 {
      margin-left: 25%;
    }
  
    .col-md-offset-4 {
      margin-left: 33.333%;
    }
  
    .col-md-offset-5 {
      margin-left: 41.667%;
    }
  
    .col-md-offset-6 {
      margin-left: 50%;
    }
  
    .col-md-offset-7 {
      margin-left: 58.333%;
    }
  
    .col-md-offset-8 {
      margin-left: 66.667%;
    }
  
    .col-md-offset-9 {
      margin-left: 75%;
    }
  
    .col-md-offset-10 {
      margin-left: 83.333%;
    }
  
    .col-md-offset-11 {
      margin-left: 91.667%;
    }
  
    .start-md {
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
  
    .center-md {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
    }
  
    .end-md {
      -ms-flex-pack: end;
      -webkit-box-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
  
    .top-md {
      -ms-flex-align: start;
      -webkit-box-align: start;
      align-items: flex-start;
    }
  
    .middle-md {
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
    }
  
    .bottom-md {
      -ms-flex-align: end;
      -webkit-box-align: end;
      align-items: flex-end;
    }
  
    .around-md {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  
    .between-md {
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  
    .first-md {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
  
    .last-md {
      -ms-flex-order: 1;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }
  }
  
  @media only screen and (min-width: 75em) {
    .container {
      width: 71rem;
    }
  
    .col-lg,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
      box-sizing: border-box;
      -ms-flex: 0 0 auto;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  
    .col-lg {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
    }
  
    .col-lg-1 {
      -ms-flex-preferred-size: 8.333%;
      flex-basis: 8.333%;
      max-width: 8.333%;
    }
  
    .col-lg-2 {
      -ms-flex-preferred-size: 16.667%;
      flex-basis: 16.667%;
      max-width: 16.667%;
    }
  
    .col-lg-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%;
    }
  
    .col-lg-4 {
      -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
      max-width: 33.333%;
    }
  
    .col-lg-5 {
      -ms-flex-preferred-size: 41.667%;
      flex-basis: 41.667%;
      max-width: 41.667%;
    }
  
    .col-lg-6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col-lg-7 {
      -ms-flex-preferred-size: 58.333%;
      flex-basis: 58.333%;
      max-width: 58.333%;
    }
  
    .col-lg-8 {
      -ms-flex-preferred-size: 66.667%;
      flex-basis: 66.667%;
      max-width: 66.667%;
    }
  
    .col-lg-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%;
    }
  
    .col-lg-10 {
      -ms-flex-preferred-size: 83.333%;
      flex-basis: 83.333%;
      max-width: 83.333%;
    }
  
    .col-lg-11 {
      -ms-flex-preferred-size: 91.667%;
      flex-basis: 91.667%;
      max-width: 91.667%;
    }
  
    .col-lg-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .col-lg-offset-1 {
      margin-left: 8.333%;
    }
  
    .col-lg-offset-2 {
      margin-left: 16.667%;
    }
  
    .col-lg-offset-3 {
      margin-left: 25%;
    }
  
    .col-lg-offset-4 {
      margin-left: 33.333%;
    }
  
    .col-lg-offset-5 {
      margin-left: 41.667%;
    }
  
    .col-lg-offset-6 {
      margin-left: 50%;
    }
  
    .col-lg-offset-7 {
      margin-left: 58.333%;
    }
  
    .col-lg-offset-8 {
      margin-left: 66.667%;
    }
  
    .col-lg-offset-9 {
      margin-left: 75%;
    }
  
    .col-lg-offset-10 {
      margin-left: 83.333%;
    }
  
    .col-lg-offset-11 {
      margin-left: 91.667%;
    }
  
    .start-lg {
      -ms-flex-pack: start;
      -webkit-box-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
  
    .center-lg {
      -ms-flex-pack: center;
      -webkit-box-pack: center;
      justify-content: center;
      text-align: center;
    }
  
    .end-lg {
      -ms-flex-pack: end;
      -webkit-box-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
  
    .top-lg {
      -ms-flex-align: start;
      -webkit-box-align: start;
      align-items: flex-start;
    }
  
    .middle-lg {
      -ms-flex-align: center;
      -webkit-box-align: center;
      align-items: center;
    }
  
    .bottom-lg {
      -ms-flex-align: end;
      -webkit-box-align: end;
      align-items: flex-end;
    }
  
    .around-lg {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  
    .between-lg {
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }
  
    .first-lg {
      -ms-flex-order: -1;
      -webkit-box-ordinal-group: 0;
      order: -1;
    }
  
    .last-lg {
      -ms-flex-order: 1;
      -webkit-box-ordinal-group: 2;
      order: 1;
    }
  }

// Brand Color Vars
$color-black: #323544;
$color-grey: #5f5f5f;
$color-grey-light: #eeeeee;
$color-grey-blue: #7A96A3;
$color-yellow: #E0FF00;
$color-white: #fff;
$color-border:#e1e1e1;

// Brand Variables
$border-radius: 10px;

// Fonts
.font-roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

// Base Styles
body {
    @extend .font-roboto;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: $color-grey;

    ::selection {
        background-color: $color-black;
        color: $color-white;
      }

    a {
        text-decoration: none;
        color: inherit;
    }
    
    h1,h2,h3,h4,h5,h6 {
        color: $color-black;
        line-height: 1.2;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    .fold-default {

        .wrapper {
            max-width: 1216px;
            margin: 0 auto;
            padding: 20px 0;   

            &.lg {
                max-width: 1400px;
            }

            &.padding-bottom {
                padding-bottom: 120px;
            }
        }
    }

}

// Button Styles
button, a {
    &.button-default { 
        background-color: $color-black;
        border-radius: 100vh;
        display: inline-flex;
        align-items: center;
        gap: 16px;
        padding: 8px 8px 8px 24px;
        border: 0;
        height: 50px;
        font-size: 16px;
        cursor: pointer;

        span {
            color: $color-white;
        }

        .button-icon {
            background-color: $color-yellow;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-black;
            height: 34px;
            width: 34px;
            font-size: 35px;
            transition: transform 0.4s ease;
            font-weight: 300;
        }

        &.round {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }

        &.yellow {
            background-color: $color-yellow;
            color: $color-black;
        }

        &:hover {
            .button-icon {
                transform: rotate(360deg);
            }
        }
    }
} 

// Header Navigation
header.main-header {
    border-bottom: 1px solid $color-border;
    position: relative;
    background-color: $color-white;
    height: 96px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;


    &::before, &::after {
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.3s ease;
    }

    &::before {
        background-image: url('https://ecabstech.com/wp-content/uploads/2024/09/shutterstock_2054366990-1.png');
    }
    &::after {
        background-image: linear-gradient(180deg, rgb(0 0 0) 10%, rgba(0, 0, 0, 0.00) 100%);
    }

    .header-wrap {
        width: 100%;
        max-width: 1320px;
        padding: 0 50px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        .logo-wrap {
            width: 118px;

            svg {
                width: 100%;
                width: 118px;
                fill: $color-white;
                transition: fill 0.3s ease;
            }
        }

        .main-nav {
            margin-left: 100px;

            .header-menu {
                display: flex;
                gap: 32px;
                list-style: none;
                .menu-item {
                    color: $color-white;
                    transition: color 0.3s ease;
                }
            }
        }

        .cta-contact {
            margin-left: auto;
        }
    }

    &.scrolled {
        background-color: $color-white;

        &::before, &::after {
            opacity: 0;
        }

        .logo-wrap {
            svg {
                fill: $color-black;
            }
        }

        .main-nav {
            .header-menu {
                .menu-item {
                    color: $color-black;
                }
            }
        }
    }
}

.product-hero-card {
    background: linear-gradient(100deg, #D1DEE4 75%, #A4BCCB 95%);
    border-radius: $border-radius;
    padding: 20px;
    display: flex;
    align-items: stretch;

    .card-title-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .product-name {
            color: $color-grey-blue;
            margin-bottom: 24px;
            font-size: 16px;
            font-weight: 500;
        }
        .card-header {}
    }

    .card-desc-wrap {
        display: flex;
        flex-direction: column;

        .card-desc, .spacer, .cta-wrap {
            flex-basis: 33%;
        }

        .cta-wrap {
            display: flex;
            align-items: flex-end;
        }
    }
}

.feature-card {
    border-radius: $border-radius;
    border: 1px solid $color-border;
    padding: 64px 104px;
    position: relative;
    background-color: $color-white;
    display: flex;

    // Corner Shadow
    &::after {
        content: "";
        visibility: visible;
        width: 100px;
        height: 200px;
        filter: blur(60px);
        background: #D1DEE4;
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        z-index: -1;
    }

    .feature-card-details {
        .feature-card-icon {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $color-grey-light;
            color: $color-black;
            margin-bottom: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 27px;
        }
        .feature-card-title {
            margin-bottom: 24px;
        }
        .feature-card-desc {

        }
    }

    .feature-card-img-wrap {

    }
}

.cta-card {
    border-radius: $border-radius;
    color: $color-white;
    position: relative;
    overflow: hidden;
    padding: 100px;

    &::before {
        content: '';
        background-image: linear-gradient(to top right, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .cta-card-details {
        position: relative;
        z-index: 1;

        .subtitle {
            color: $color-yellow;
            margin-bottom: 24px;
            font-size: 16px;
            text-transform: uppercase;
        }
    
        .title {
            color: $color-white;
            margin-bottom: 24px;
        }
    
        .desc { 
            margin-bottom: 24px;
        }
    }
}